<form class="form-horizontal" role="form">
  <h4>Details</h4>
  <div class="form-group">
    <div class="row">
      <label class="col-sm-4 control-label">ID:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="AppState.selected.data._id"></input>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-4 control-label">Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="AppState.selected.data._name"></input>
      </div>
    </div>
  </div>
  <h4>Display</h4>
  <div class="form-group">
    <div class="row">
      <label class="col-sm-4 control-label">Stroke:</label>
      <div class="col-sm-8">
        <spectrum-colorpicker format="hex" ng-model="AppState.selected.display.stroke"></spectrum-colorpicker>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-4 control-label">Stroke-Width:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="AppState.selected.display.strokeWidth"></input>
        <input type="range" min="0" max="10" ng-model="AppState.selected.display.strokeWidth"></input>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-4 control-label">Font-Size:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="AppState.selected.display.text.size"></input>
        <input type="range" min="5" max="30" ng-model="AppState.selected.display.text.size"></input>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-4 control-label">Font:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="AppState.selected.display.text.font"></input>
      </div>
    </div>
    <div class="row" ng-if="!AppState.selected.centroid">
      <label class="col-sm-4 control-label">Gradient Start:</label>
      <div class="col-sm-8">
        <spectrum-colorpicker format="hex" ng-model="AppState.selected.display.gradient.start"></spectrum-colorpicker>
      </div>
    </div>
    <div class="row" ng-if="!AppState.selected.centroid">
      <label class="col-sm-4 control-label">Gradient Stop:</label>
      <div class="col-sm-8">
        <spectrum-colorpicker format="hex" ng-model="AppState.selected.display.gradient.stop"></spectrum-colorpicker>
      </div>
    </div>
  </div>
</form>
